
@{
    ViewBag.Title = "Route";
}

<h2>Dvd Library</h2>

<div ng-app="dvdApp" ng-view="">

</div>

@section scripts{
    <script src="~/scripts/app/route.js"></script>
    <script src="~/Scripts/app/createDvd.js"></script>
}